body{
    background-color: lightgray
}
header{
    background-color: white;
}
#logo-text{
    font-size: 40px;
}
#logo{
    vertical-align: middle;
}
main{
    width: 1000px;
    height: 1000px;
    background-color: white;
    margin-left: 200px;
    margin-top: 50px;
    border-radius: 5%;
    padding-left: 50px;
    
}
#add-task{
    margin-top: 20px;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 10%;
}
#add-section{
    height: 30px;
    background-color: white;
    color: grey;
    border-radius: 10%
}
#editorial{
    background-color: blue;
    margin-left: 10px;
    color: white;
    border-radius: 20%
}
#q1-goals{
    background-color: blueviolet;
    margin-left: 10px;
    color: white;
    border-radius: 20%
}
#recruting{
    background-color: lightgreen;
    margin-left: 10px;
    color: white;
    border-radius: 20%   
}
#mobile{
    background-color: orange;
    margin-left: 10px;
    color: white;
    border-radius: 20%    
}
#website{
    background-color: violet;
    margin-left: 10px;
    color: white;
    border-radius: 20%
}
#sales{
    background-color: lawngreen;
    margin-left: 10px;
    color: white;
    border-radius: 20%
}
#cross{
    color: red;
}
#check{
    color: green;
}
